<?xml version="1.0"?>
<config>
    <modules>
        <Diglin_SwissPost>
            <version>1.3.0</version>
        </Diglin_SwissPost>
    </modules>

    <default>
        <diglin_swisspost>
            <general>
                <active>0</active>
                <soap_endpoint>https://int.wsbc.post.ch/wsbc/barcode/v2_2</soap_endpoint>
                <username/>
                <password/>
                <franking_license/>
                <pro_clima>0</pro_clima>
            </general>
            <sender>
                <name1/>
                <name2/>
                <street/>
                <zip/>
                <city/>
                <country>CH</country>
                <domicile_post_office/>
            </sender>
            <label>
                <layout>A5</layout>
                <image_filetype>GIF</image_filetype>
                <image_resolution>300</image_resolution>
                <image_output_folder>shipping/label/</image_output_folder>
            </label>
            <shipping_method>
                <normal/>
                <priority/>
                <express/>
                <express_mond/>
                <sallowspecific>1</sallowspecific>
                <specificcountry>CH</specificcountry>
            </shipping_method>
            <rma>
                <method><![CDATA[GAS,PRI]]></method>
            </rma>
        </diglin_swisspost>
    </default>

    <global>
        <models>
            <diglin_swisspost>
                <class>Diglin_SwissPost_Model</class>
                <resourceModel>diglin_swisspost_resource</resourceModel>
            </diglin_swisspost>
            <diglin_swisspost_resource>
                <class>Diglin_SwissPost_Model_Resource</class>
            </diglin_swisspost_resource>
        </models>
        <blocks>
            <diglin_swisspost>
                <class>Diglin_SwissPost_Block</class>
            </diglin_swisspost>
        </blocks>
        <helpers>
            <diglin_swisspost>
                <class>Diglin_SwissPost_Helper</class>
            </diglin_swisspost>
        </helpers>
        <resources>
            <diglin_swisspost_setup>
                <setup>
                    <module>Diglin_SwissPost</module>
                </setup>
            </diglin_swisspost_setup>
        </resources>
        <events>
            <!-- <sales_order_shipment_save_after>
                <observers>
                    <sales_order_shipment_save_after_observer>
                        <type>singleton</type>
                        <class>Diglin_SwissPost_Model_Observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </sales_order_shipment_save_after_observer>
                </observers>
            </sales_order_shipment_save_after> -->
            <diglin_shipment_label_create_after>
                <observers>
                    <diglin_shipment_label_create_after_observer>
                        <type>singleton</type>
                        <class>Diglin_SwissPost_Model_Observer</class>
                        <method>diglinShipmentLabelCreateAfter</method>
                    </diglin_shipment_label_create_after_observer>
                </observers>
            </diglin_shipment_label_create_after>
        </events>
    </global>
    <frontend>
        <routers>
            <diglin_swisspost>
                <use>standard</use>
                <args>
                    <module>Diglin_SwissPost</module>
                    <frontName>diglin_swisspost</frontName>
                </args>
            </diglin_swisspost>
        </routers>
    </frontend>
</config>