<?xml version="1.0"?>
<config>
    <modules>
        <LevoSoft_SwissPost>
            <version>0.1.0</version>
        </LevoSoft_SwissPost>
    </modules>
    <global>
        <blocks>
            <levosoft_swisspost>
                <class>LevoSoft_SwissPost_Block</class>
            </levosoft_swisspost>
        </blocks>
        <helpers>
            <levosoft_swisspost>
                <class>LevoSoft_SwissPost_Helper</class>
            </levosoft_swisspost>
        </helpers>
        <models>
            <levosoft_swisspost>
                <class>LevoSoft_SwissPost_Model</class>
                <resourceModel>swisspost_mysql4</resourceModel>
            </levosoft_swisspost>
        </models>
        <resources>
            <levosoft_swisspost_setup>
                <setup>
                    <module>LevoSoft_SwissPost</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </levosoft_swisspost_setup>
            <swisspost_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </swisspost_write>
            <swisspost_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </swisspost_read>
        </resources>
        <events>
            <sales_order_shipment_track_save_after>
                <observers>
                    <levosoft_swisspost_sales_order_shipment_track_save_after>
                        <type>singleton</type>
                        <class>levosoft_swisspost/observer</class>
                        <method>sendTrackingEmailToCustomer</method>
                    </levosoft_swisspost_sales_order_shipment_track_save_after>
                </observers>
            </sales_order_shipment_track_save_after>
        </events>
    </global>
    <default>
        <carriers>
            <levosoftswisspost>
               
            </levosoftswisspost>
        </carriers>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <levosoft_swisspost before="Mage_Adminhtml">LevoSoft_SwissPost_Adminhtml</levosoft_swisspost>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config> 